version: "3.8"

services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    image: TU_USUARIO_DOCKERHUB/backend:latest
    environment:
      DB_HOST: db
    ports:
      - "3000:3000"
    depends_on:
      - db

  frontend:
    image: TU_USUARIO_DOCKERHUB/frontend:latest
    ports:
      - "80:80"
